# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# Django stuff:
*.log
*.pot
*.pyc

# Flask stuff:
instance/
.wsgi

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Docker
*.log
docker-compose.override.yml

# Pytest
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Translations
*.mo
*.pot

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
*.env

# Database
*.sqlite3

# Flask
*.pyo
*.pyd

# Logs and databases
*.log
*.sql
*.sqlite

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
*.bat
*.cmd

# S3 temporary files
temp/

# Local dev
local_settings.py

# IDEs
.vscode/
.idea/
*.swp

# PostgreSQL data (if you are not using named volumes)
postgres_data/
